@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


body, html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}
.state {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
}

#state-selectCharacter {
    background: 358ba0;
    background: linear-gradient(to bottom,  #358ba0 0%,#357e90 100%);
}
#state-selectCharacter h1 {
    color: rgb(220, 220, 220);
    margin-bottom: 30px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}
#state-selectCharacter .character {
    height: 440px;
    width: 139px;
    background-size: 300%;
    background-position: 200px 0px;
    float: left;
    margin-right: 1px;
    opacity: 0.5;
    transition: opacity .5s ease-in-out;
}
#state-selectCharacter .character:hover {
    opacity: 1;
}
#state-loading {
    background: #356aa0;
    background: linear-gradient(to bottom,  #356aa0 0%,#356aa0 100%);
}
#state-loading h1 {
    color: rgb(220, 220, 220);
    text-align: center;
    padding-top: 240px;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale( 0 );
  }
  50% {
    -webkit-transform: scale( 1 );
  }
  100% {
    -webkit-transform: scale( 0 );
  }
}
#state-loading span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
}
#state-loading span:nth-child(1) {
    -webkit-animation: loading 1s infinite;
}
#state-loading span:nth-child(2) {
    -webkit-animation: loading 0.8s infinite;
}
#state-loading span:nth-child(3) {
    -webkit-animation: loading 0.6s infinite;
}