@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Iceland);

body, html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}
.state {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
}

#state-menu {
    background: #358ba0;
    background: linear-gradient(to bottom,  #358ba0 0%,#357e90 100%);
}
#state-menu .biglink {
    display:block;
    padding: 40px;
    font-size: 60px;
    line-height: normal;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
#state-menu h1 {
    color: rgb(220, 220, 220);
    margin-bottom: 30px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}
#state-loading {
    background: #356aa0;
    background: linear-gradient(to bottom,  #356aa0 0%,#356aa0 100%);
}
#state-loading h1 {
    color: rgb(220, 220, 220);
    text-align: center;
    padding-top: 240px;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale( 0 );
  }
  50% {
    -webkit-transform: scale( 1 );
  }
  100% {
    -webkit-transform: scale( 0 );
  }
}


#state-fight {
    background: #356aa0;
    background: linear-gradient(to bottom,  #356aa0 0%,#356aa0 100%);
}
#state-fight h1 {
    color: rgb(220, 220, 220);
    text-align: center;
}
#state-fight .fight-wrap {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;
}
#state-fight .field-wrap {
    position: absolute;
    height: 100%;
    width: 30%;
    background: #111;
    background: linear-gradient(to bottom,  #333 0%,#000 100%);
}
#state-fight .field-wrap#field1{
    left:10%;
}
#state-fight .field-wrap#field2{
    left:60%;
}


